<h1 class="taglinewhyhead">{{ chooseTagline.title }}</h1>
<span class="headerline"></span>
<p class="taglinewhyp">{{ chooseTagline.details }}</p>
<div class="empowers">
  <ng-container *ngFor="let boxCard of boxCards">
    <a [routerLink]="['/about/' + boxCard.id]">
      <app-box-cards-choose-tagline
        style="display: contents"
        [boxCards]="boxCard"
      ></app-box-cards-choose-tagline>
    </a>
    <!-- <app-box-cards-choose-tagline
          style="display: contents"
          [boxCards]="boxCard"
        ></app-box-cards-choose-tagline> -->
  </ng-container>
  <div class="empowerbox lastempowerbox">
    <h1>
      <span>{{ empowerboxLast.empower }}</span> {{ empowerboxLast.your }}
      <span>{{ empowerboxLast.business }}</span> {{ empowerboxLast.heading }}
    </h1>
    <button>{{ empowerboxLast.boxButton }}</button>
  </div>
</div>
<router-outlet></router-outlet>
