<ng-container *ngIf="isLoggedIn"></ng-container>
<div class="header">
  <nav>
    <a routerLink="/home">
      <img [src]="logo" />
    </a>
    <ul>
      <ng-container *ngFor="let header of headers">
        <ng-container
          *ngIf="header.name === 'About Us'; then isAbout; else isNotAbout"
        ></ng-container>
        <ng-template #isAbout >
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [routerLink]="header.link"  id="about" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{header.name}}
            </a>
          </li>
        </ng-template>
        <ng-template #isNotAbout>
          <li>
            <a [routerLink]="header.link" routerLinkActive="activeLink"
              ><label>{{ header.name }}</label>
              <!-- <select class="form-select" >
                <option><label>{{ header.name }}</label></option>
                <option>Consistent Delivery</option>
              </select> -->
            </a>
          </li>
        </ng-template>
      </ng-container>
    </ul>
    <div class="btnget">
      <button type="button" (click)="logOut()">
        {{ buttonText }}
      </button>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
