div a i {
    padding: 0 5px 0 10px;
    font-size: 20px;
}

div h3 {
    font-size: 25px;
}

li {
    list-style: none;
    padding: 15px 0 5px 0;

}

li a {
    font-size: 18px;
    text-decoration: none;
    color: gray;
}