<div class="row justify-content-center">
  <div class="card w-50" *ngIf="serviceDetails">
    <div class="card-header">
      <div class="col d-flex">
        <img [src]="serviceDetails.img" />
        <h1>{{ serviceDetails.heading }}</h1>
      </div>
    </div>
    <div class="card-body">
      <div class="col d-flex justify-content-center" >
        <p>{{ serviceDetails.description }}</p>
      </div>
      <div class="col d-flex justify-content-center">
        <button class="btn btn-outline-danger" routerLink='/services'>{{serviceDetails.learMore}}</button>
      </div>
    </div>
  </div>
</div>
